<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<link rel="icon" type="image/png" href="/static/images/isomorphic_go_icon.png">
</head>
<body>

<div id="welcomeContainer">
<h1>Hello Gopher!</h1>
<br/>
<a target="_blank" href="http://isomorphicgo.org"><img border="0" src="/static/images/isomorphic_go_logo.png"></a>

<div id="welcomeMessage"></div>

<script src="/js/client.js"></script>
</div>

<footer>
<div id="copyright_notice">
<p>Copyright &copy; <a target="_blank" href="http://isomorphicgo.org">The Isomorphic Go Project</a>. All Rights Reserved</p>
</div>
</footer>

</body>
</html>
